  // 表单组unit
  .wd-form-unit-v,
  .wd-form-unit-h {
      margin-top: .5rem;
      &>label.required {
          position: relative;
          &::before {
              content: '*';
              display: inline-block;
              position: absolute;
              top: .1em;
              left: -1em;
              color: red;
              font-weight: bolder;
          }
      }
      input {
          width: 100%;
          height: 2rem;
          line-height: 2rem;
          padding: 0 .5rem;
          border-radius: .2rem;
          &.sucess {
              border: 1PX solid green;
          }
          &.error {
              border: 1PX solid red;
          }
          &.warn {
              border: 1PX solid orange;
          }
          &.disabled {
              border: 1PX solid $gray-light;
          }
      }
  }
  
  // 垂直表单
  .wd-form-unit-v {
      &>label+div,
      &>label+span {
          display: block;
          position: relative;
          margin-top: .3rem;
      }
  }
  
  // 水平表单
  .wd-form-unit-h {
      display: block;
      position: relative;
      width: 21rem;
      margin: .5rem auto;
      line-height: 2rem;
      &>label {
          display: inline-block;
          margin-right: 1rem;
          text-align: left;
          font-size: $font-size-small;
          color: $common;
          vertical-align: middle;
          // label定位
          &.pos {
              position: absolute;
              top: 0;
              left: 0;
          }
          &+span,
          &+div,
          &+input {
              display: inline-block;
              width: 15rem;
              height: 2rem;
              text-align: left;
              vertical-align: middle;
          }
      }
  }
  
  // 主题相关
  @each $theme in $themes {
      $colors: map-get($theme-colors, #{$theme}); // 颜色map
      $main: map-get($colors, main); // 主色
      $main-light: map-get($colors, main-light); // 主色
      $main-light-s: map-get($colors, main-light-s); // 主色
      .#{$theme} {
          .wd-form-unit-v,
          .wd-form-unit-h {
              input:focus,
              input.focus {
                  border: 1PX solid $main;
                  box-shadow: 0 0 3PX 0 $main-light-s;
              }
          }
      }
  }