#id-ui-login {
  position: relative;
  width: 100%;
  background-color: $white;

  .ui-login {
    position: absolute;
    top: 2rem;
    left: 50%;
    width: 20rem;
    transform: translateX(-50%);
  }

  // 登录或注册
  .ui-action-tab {
    padding-bottom: .5rem;

    a {
      display: inline-block;
      padding: .2rem .3rem;
      border-radius: .3rem;
    }

    .active {
      color: $white;
    }
  }

  // 其他登陆方式
  .ui-other-login {
    margin-top: 1rem;
    line-height: 2rem;

    .icomoon {
      font-size: 1rem;
      cursor: pointer;
    }

    .icon-qq {
      float: left;
      color: rgb(0, 174, 255);
      margin-right: 1rem;
    }

    .icon-wechat {
      float: right;
      color: green;
    }
  }

  // 登录注册按钮
  .ui-btn {
    display: block;
    margin-top: 1rem;
  }
}

// 主题相关
@each $theme in $themes {
  $colors: map-get($theme-colors, #{$theme}); // 颜色map
  $main-light-s: map-get($colors, main-light-s); // 超浅主色
  $main-light: map-get($colors, main-light); // 浅主色
  $main-deep: map-get($colors, main-deep); // 深主色
  $main: map-get($colors, main); // 主色
  $tip: map-get($colors, tip); // 提示色
  $text: map-get($colors, text); // 字体颜色
  $title: map-get($colors, title); // 标题颜色
  $warm-title: map-get($colors, warm-title); // 醒目标题
  $nav: map-get($colors, nav); // 导航字体颜色
  $btn: map-get($colors, btn); // 按钮类颜色
  $hover: map-get($colors, hover); // 悬浮类颜色
  $active: map-get($colors, active); // 激活类颜色
  $bg: map-get($colors, bg); // 页面背景色
  $bc: map-get($colors, bc); // 输入类边框色
  $vip: map-get($colors, vip); // vip标识色
  $help: map-get($colors, help); // 辅助色
  $common: map-get($colors, common); // 通用色
  $warn: map-get($colors, warn); // 警示色

  .#{$theme} {
    #id-ui-login {

      // 登录或注册
      .ui-action-tab {
        border-bottom: 2PX solid $main;
      }

      // 登录或注册
      .ui-action-tab {
        .active {
          background-color: $main;
        }
      }
    }
  }
}
