.app-loader {
  .mask {
    z-index: 99998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray;
    opacity: 0.1;
  }
  .three-circle-scale{
    z-index: 99999;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    margin-left:-2rem;
    margin-top:-2rem;
  }
  .circle1,.circle2,.circle3{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 100%;
    transform: scale(0);
    animation: opacity-scale 1s 0s infinite;
  }
  .circle1{
    animation-delay: 0;
  }
  .circle2{
    animation-delay: .2s;
  }
  .circle3{
    animation-delay: .4s;
  }
  @include keyframes(opacity-scale) {
    0%{
      transform: scale(0);
      opacity: 0;
    }
    5%{
      opacity: 1;
    }
    100%{
      transform: scale(1);
      opacity: 0;
    }
  }

  // timer
  .timer {
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    margin-top: -2.5rem;
    margin-left: -2.5rem;
    background-color: transparent;
    border-radius: 50%;
    /* Not necessary- its only for layouting*/
  }
  .center{
    position: absolute;
    height: .3rem;
    width: .3rem;
    left:50%;
    top:50%;
    border-radius: 50%;
    margin-top:-.1rem;
    margin-left:-.1rem;
  }
  .timer:after,
  .timer:before {
    position: absolute;
    content: "";
    background-color: #fff;
  }

  .timer:after {
    width: 2rem;
    height: 0.1rem;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 0.05rem 0.05rem;
    -moz-transform-origin: 0.05rem 0.05rem;
    transform-origin: 0.05rem 0.05rem;
    -webkit-animation: minhand 1s linear infinite;
    -moz-animation: minhand 1s linear infinite;
    animation: minhand 1s linear infinite;
  }

  .timer:before {
    width: 1.5rem;
    height: 0.1rem;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 0.05rem 0.05rem;
    -moz-transform-origin: 0.05rem 0.05rem;
    transform-origin: 0.05rem 0.05rem;
    -webkit-animation: hrhand 4s linear infinite;
    -moz-animation: hrhand 4s linear infinite;
    animation: hrhand 4s linear infinite;
  }

  @include keyframes(minhand) {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @include keyframes(hrhand) {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }
}

// 主题相关
@each $theme in $themes {
  // @debug $theme;
  $colors: map-get($theme-colors, #{$theme});
  $main: map-get($colors, main);
  $main-deep: map-get($colors, main-deep);
  $main-light: map-get($colors, main-light);

  .#{$theme} {
    .timer {
      border: 0.1rem solid $main-deep;
      &::before,
      &::after,.center {
        background-color: $main-deep;
      }
    }
    .three-circle-scale div{
      background-color: $main-light;
    }
  }
}
