@charset "utf-8";
// 轮播容器
.swiper-container {
    height: 100%;
    overflow: hidden;
    .swiper-wrapper {
        height: 100%;
    }
    // 轮播区域
    .swiper-slide{
        a{
            display: block;
            height:100%;
        }
        img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
    // 分页
    .swiper-pagination {
        width:100%;
        bottom: .5rem;
        .swiper-pagination-bullet {
            display: inline-block;
            width:.5rem;
            height: .5rem;
            margin: 0 .25rem;
            border-radius: .5rem;
            transition: width .3s ease-in-out;
            transform-origin: .25rem .25rem;
            &-active{
                width:1.5rem;
            }
        }
    }
}

// 主题相关
@each $theme in $themes {
    // @debug $theme; 
    $colors: map-get($theme-colors , #{$theme});
    $main: map-get($colors, main);
    .#{$theme} {
        .swiper-pagination-bullet-active {
            background-color: $main;
        }
        .swiper-button-prev,
        .swiper-button-next{
            &::after {
                color: $main;
            }
        }
    }
}
