#id-ui-learn-doc {
    // 文档体
    .ui-doc {
        margin-top: .5rem;
        padding: 3rem;
        background-color: $white;
        // 总分类列表
        .ui-classes {
            width: 40rem;
            margin: 0 auto;
            padding: 2rem 0;
            border-radius: 3rem;
            border: 1PX solid $gray-light-m;
            @extend %clearfix;
        }
        // 文档分类
        .ui-class {
            height: 8rem;
            line-height: 4rem;
            text-align: left;
            padding: 2rem 0;
            margin: 0 4rem;
            border-bottom: 1PX solid $gray-light-m;
            // 最后一个li没有下外边距
            &:last-child {
                border-bottom: none;
            }
            @extend %clearfix;
        }
        // 分类名称 
        .ui-class-title {
            float: left;
            width: 5rem;
            text-align: center;
            font-size: $font-size-normal;
        }
        // 分类列表
        .ui-items {
            float: left;
            height: 4rem;
            width: 26.5rem;
            font-size: $font-size-small;
            line-height: 2rem;
        }
        // 分类item
        .ui-item {
            margin-left: 4rem;
            display: inline-block;
            a {
                color: $gray;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// 主题相关
@each $theme in $themes {
    $colors: map-get($theme-colors, #{$theme}); // 颜色map
    $main-light-s: map-get($colors, main-light-s); // 超浅主色
    $main-light: map-get($colors, main-light); // 浅主色
    $main-deep: map-get($colors, main-deep); // 深主色
    $main: map-get($colors, main); // 主色
    $tip: map-get($colors, tip); // 提示色
    $text: map-get($colors, text); // 字体颜色
    $title: map-get($colors, title); // 标题颜色
    $warm-title: map-get($colors, warm-title); // 醒目标题
    $nav: map-get($colors, nav); // 导航字体颜色
    $btn: map-get($colors, btn); // 按钮类颜色
    $hover: map-get($colors, hover); // 悬浮类颜色
    $active: map-get($colors, active); // 激活类颜色
    $bg: map-get($colors, bg); // 页面背景色
    $bc: map-get($colors, bc); // 输入类边框色
    $vip: map-get($colors, vip); // vip标识色
    $reverse: map-get($colors, reverse); // 反衬色
    $help: map-get($colors, help); // 辅助色
    $common: map-get($colors, common); // 通用色
    $warn: map-get($colors, warn); // 警示色
    .#{$theme} {
        #id-ui-learn-doc {
            .ui-class-title {
                color: $main-deep;
            }
            .ui-item a {
                &:hover {
                    color: $main;
                }
            }
        }
    }
}