@charset "utf-8";

/**
 * 公用导航条
 */

// 首页>xx>yy>zz 
.wd-nav-bar {
    padding: 0 1rem;
    line-height: 2rem;
    border-bottom: 1PX solid $gray-light-s;
    background-color: $white;
    a {
        cursor: pointer;
        vertical-align: middle;
        &:hover {
            text-decoration: underline;
        }
    }
    i {
        color: gray;
        vertical-align: middle;
    }
}

// 主题相关
@each $theme in $themes {
    $colors: map-get($theme-colors, #{$theme}); // 颜色map
    $main: map-get($colors, main); // 主色
    .#{$theme} {
        .wd-nav-bar a {
            color: $main;
        }
    }
}