// 后台增删改查公用样式
.wd-sys-main {
  // 标题
  .wd-title {
    padding: 0.8rem 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 1px 1px 0 $gray-light;
  }

  // curd
  .wd-curd-bar {
    background-color: $white;
    padding: 0.5rem;
    border-bottom: 1px solid $gray-light-m;
    box-shadow: 0 1px 1px 0 $gray-light;

    button {
      padding: 0.3rem 0.4rem;
    }
  }

  // 条件搜索
  .wd-search-bar {
    padding: 0 1rem;
    font-size: $font-size-small;
    background-color: $white;
    border-bottom: 1px solid $gray-light-m;
    box-shadow: 0 1px 1px 0 $gray-light;

    .wd-form-unit-h {
      display: inline-block;
      width: 8.5rem;
      line-height: 1.8rem;

      & > label {
        line-height: 1.8rem;
        margin-right: 0.5rem;
      }

      input,
      div {
        width: 6rem;
        height: 1.8rem;
        line-height: 1.8rem;
      }
      // 下拉组件
      .wd-select-component {
        ul {
          top: 1.8rem;
          max-height: 7rem;
        }
      }
    }
  }

  // 表格
  .wd-table-wrap {
    padding: 0 1rem;
    background-color: $white;
  }

  // 分页条
  .wd-page-bar-wrap {
    padding: 0.5rem;
    background-color: $white;
  }
  // 弹出式表单
  @at-root .wd-my-window .wd-window-form {
    // 表单
    form {
      padding: 0.5rem 3rem 3rem;
    }
    // 表单组标签宽度固定
    .wd-form-unit-h {
      width: 22rem;
      label {
        width: 6em;
      }
    }
    // 按钮组，取消和确定
    .wd-btn-group {
      position: absolute;
      bottom: 1rem;
      right: 3rem;
      text-align: right;
    }
  }
}
