/**
 * 通用类
 */

// 间隙
.wd-common-gap {
    position: relative;
    height: .8rem;
    overflow: hidden;
    background-color: $gray-light-s;
}

// 字体暖红色
.wd-color-red-wram {
    color: $red-warm;
}

// margin-right和margin-bottom置为0
.wd-no-margin-right {
    margin-right: 0;
    margin-right: 0 !important;
}

.wd-no-margin-bottom {
    margin-bottom: 0;
    margin-bottom: 0 !important;
}

// 查看更多
.wd-view-more {
    width: 7rem;
    height: 2rem;
    line-height: 2rem;
    margin: 1rem auto;
    text-align: center;
    color: $blue-sky;
    background-color: $white;
    border-radius: 2rem;
    box-shadow: 0 0 10PX 0 $gray-light;
    cursor: pointer;
}

// 标题(前面带有颜色的竖线)
.wd-title {
    padding: .5rem;
    color: $common;
    font-weight: bold;
    font-size: $font-size-small;
    background-color: $white;
    &::before {
        content: '';
        display: inline-block;
        width: 3PX;
        height: 1rem;
        vertical-align: text-top;
        margin-right: .5rem;
    }
}

// 着重色
.wd-remind {
    color: $red-middle;
}

// 链接色
.wd-link {
    color: $blue-sky;
}

// 浅灰
.wd-gray-light {
    color: $gray-light;
}

// .875rem
.wd-fs-small {
    font-size: $font-size-small;
}

// .75rem
.wd-fs-min {
    font-size: $font-size-min;
}

// 搜
.wd-search {
    background-color: orange !important;
}

// 存
.wd-update {
    background-color: $purple-light !important;
}

// 查
.wd-select {
    background-color: $blue-sky !important;
}

// 增
.wd-insert {
    background-color: $green-middle !important;
}

// 删
.wd-delete {
    background-color: $red-deep !important;
}

// 禁止
.wd-disabled {
    background-color: $gray-light !important;
    opacity: .7;
    cursor: not-allowed;
}

// 取消
.wd-cancel {
    background-color: $gray-light !important;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.wd-text-right {
    text-align: right;
}

.wd-text-left {
    text-align: left;
}

// 清除浮动
.clearfix {
    &::after {
        content: '';
        display: table;
        display: block;
        width: 0;
        height: 1PX;
        clear: both;
    }
}

// 代码区
.code .hljs {
    font-family: $font-family-y;
    background-color: $gray-light-s;
}

// 分隔符：‘/’
.wd-seperator {
    font-weight: normal;
    color: gray;
}

// 未折扣样式
.wd-old-price {
    color: $gray-light;
    text-decoration: line-through;
}

// 云币样式
.icon-bitcoin {
    font-size: $font-size-small;
    color: orange;
}

// width: auto
.width-auto {
    width: auto !important;
}

// 主题相关
@each $theme in $themes {
    $colors: map-get($theme-colors, #{$theme}); // 颜色map
    $main: map-get($colors, main); // 主色
    $tip: map-get($colors, tip); // 提示色
    $text: map-get($colors, text); // 字体颜色
    $title: map-get($colors, title); // 标题颜色
    $warm-title: map-get($colors, warm-title); // 醒目标题
    $nav: map-get($colors, nav); // 导航字体颜色
    $btn: map-get($colors, btn); // 按钮类颜色
    $hover: map-get($colors, hover); // 悬浮类颜色
    $active: map-get($colors, active); // 激活类颜色
    $bg: map-get($colors, bg); // 页面背景色
    $bc: map-get($colors, bc); // 输入类边框色
    $vip: map-get($colors, vip); // vip标识色
    $reverse: map-get($colors, reverse); // 反衬色
    $help: map-get($colors, help); // 辅助色
    $common: map-get($colors, common); // 通用色
    $warn: map-get($colors, warn); // 警示色
    .#{$theme} {
        // 左侧带竖杠的标题
        .wd-title::before {
            background-color: $main;
        }
    }
}