$opacity: 0.8;
$wd-main-left: 17.5rem;
$wd-main-right: $main-width - $wd-main-left - 1.5rem;
// 左侧方块尺寸
$size: ($wd-main-left - 1rem - 3 * 0.5rem)/3-.1rem;
#id-user {
    // 局部加载列表
    .ui-part-loading-list {
        width: $wd-main-right;
    }
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../../assets/images/background/carton-girl-bg.jpg") left top no-repeat;
    background-attachment: fixed;
    background-size: cover;
    // 用户封面遮罩
    .user-mask {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.1;
    }
    // 用户详情
    .user-detail {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        overflow-y: auto;
    }
    // 用户基本信息
    .user-info {
        margin: 5rem auto 3rem;
        p {
            margin: 1rem 0;
            color: $white;
        }
    }
    // 用户头像
    .user-avator {
        display: inline-block;
        border: 2px solid white;
        transition: all 1s;
        border-radius: 50%;
        overflow: hidden;
        img {
            display: inline-block;
            width: 8rem;
            height: 8rem;
        }
        &:hover {
            border-color: skyblue;
            transform: rotate(360deg);
        }
    }
    // 音频
    audio {
        display: none;
    }
    // 昵称、性别和等级
    .user-nickname,
    .user-sex,
    .user-level {
        display: inline-block;
        margin: 0 0.2rem;
        color: $white;
    }
    // 用户昵称
    .user-nickname {
        text-shadow: 4px 4px 4px $gray;
        font-weight: bold;
    }
    // 用户性别
    .user-sex {
        width: 1.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
        border-radius: 50%;
        font-weight: bold;
    }
    // 女性
    .icon-venus {
        background-color: $red-warm;
    }
    // 男性
    .icon-mars {
        background-color: $blue-sky;
    }
    // 间性
    .icon-intersex {
        background-color: purple;
    }
    // 用户等级
    .user-level {
        height: 1.2rem;
        line-height: 1.2rem;
        width: 3rem;
    }
    // 用户标签,会员、身份、排位称号
    .user-label {
        display: inline-block;
        width: auto;
        padding: 0 0.4rem;
        margin: 0 0.25rem;
        border-radius: 0.3rem;
        font-size: $font-size-normal;
    }
    // 留言
    .user-say {
        text-shadow: 2px 2px 0px black;
    }
    // tab条
    .user-action-nav {
        margin: 0 3px 0.5rem;
        line-height: 2.5rem;
        text-align: left;
        border-radius: 0.3rem;
        background-color: $white;
        opacity: $opacity;
        li {
            display: inline-block;
            margin: 0 2rem;
        }
        a {
            display: inline-block;
        }
    }
    // 用户详情主体
    .user-detail-main {
        margin: 0 3px;
        @extend %clearfix;
    }
    // 用户主体详情右侧
    .user-main-right {
        width: $wd-main-right;
        border-radius: 0.3rem;
        float: right;
    }
    // 无数据
    .ui-no-data {
        background-color: $white;
        opacity: $opacity;
    }
    // 动态内容
    .ui-dynamic-content {
        margin-bottom: .5rem;
        padding: .2rem 1rem .2rem 2rem;
        text-align: left;
        background-color: $white;
        opacity: $opacity;
        border-radius: 0.3rem;
    }
    // 动态列表顶部
    .ui-dynamic-content-head {
        height: 2.5rem;
        line-height: 2.5rem;
    }
    // 动态列表顶部，用户头像，终端和时间
    .ui-user-avator,
    .ui-top-info {
        float: left;
    }
    // 动态列表顶部，用户头像
    .ui-user-avator {
        margin-right: 1rem;
        img {
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
            border: 1PX solid $gray-light;
        }
    }
    // 动态列表顶部，终端和时间
    .ui-top-info {
        p {
            font-size: $font-size-min;
            line-height: 1;
        }
    }
    // 动态内容主体
    .ui-dynamic-content-body {
        margin: .5rem 0;
        min-height: 4rem;
        overflow: hidden;
        cursor: pointer;
    }
    // 封面和内容简介
    .ui-dynamic-cover,
    .ui-dynamic-introduce {
        float: left;
    }
    // 封面
    .ui-dynamic-cover {
        width: 24%;
        height: 6rem;
        margin-right: 1%;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    // 动态简介
    .ui-dynamic-introduce {
        width: 75%;
        @include multirow-ellipsis(6);
    }
    // 动态内容脚部
    .ui-dynamic-content-foot {
        height: 2rem;
        line-height: 2rem;
        i {
            margin-left: .5rem;
            &:first-child {
                margin-left: 0;
            }
        }
        .ui-dynamic-detail {
            float: right;
            button {
                height: 2rem;
                line-height: 2rem;
                border-radius: .3rem;
                background-color: transparent;
            }
        }
    }
    // 用户详情主体左侧
    .user-main-left {
        @include flex();
        @include flex-direction();
        position: relative;
        float: left;
        left:0;
        width: $wd-main-left;
        border-left: none;
        border-radius: 0.3rem;
        background-color: transparent;
        overflow-y: visible;
        @extend %no-scrollbar;
    }
    // 用户人气等等
    .user-evaluate {
        margin-bottom: $global-gap;
        background-color: $white;
        opacity: $opacity;
        border-radius: 0.3rem;
        li {
            display: inline-block;
            padding: 0.3rem 0.4rem;
            div {
                padding: .2rem 0
            }
        }
    }
    // 用户评估key
    .user-evaluate-k {
        color: $black-light;
    }
    // 用户评估value
    .user-evaluate-v {
        font-weight: bold;
    }
    // 侧边栏列表项标题
    .wd-sidebar-ctn-title {
        z-index: 2;
        margin: .5rem 0 0 1rem;
        text-align: left;
    }
    // 用户基本信息
    .user-introduce {
        margin-bottom: .5rem;
        padding-bottom: 1rem;
        text-align: left;
        background-color: $white;
        opacity: $opacity;
        border-radius: 0.3rem;
        li {
            padding: 0.5rem 1rem;
        }
    }
    // 用户简介key
    .user-introduce-k {
        display: inline-block;
        width: 4rem;
        color: $black-light;
    }
    // 用户简介value
    .user-introduce-v {
        float: right;
        color: black;
        font-weight: bold;
    }
    // 用户礼物
    // 用户最近访客
    .user-gifts,
    .user-captures,
    .user-visitors {
        position: relative;
        margin-bottom: .5rem;
        // 透明度的遮罩
        .item-mask {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: $opacity;
            border-radius: 0.3rem;
            background-color: $white;
        }
        ul {
            position: relative;
            padding: .5rem;
            z-index: 2;
            @extend %clearfix;
        }
        li {
            float: left;
            margin: 0.25rem;
            border-radius: .2rem;
            line-height: 1.5rem;
            font-size: $font-size-min;
            a {
                position: relative;
                display: inline-block;
                width: $size;
                height: $size;
                border-radius: 0.2rem;
                padding: 0.1rem;
                overflow: hidden;
                img {
                    width: $size - .1rem;
                    border-radius: 0.2rem;
                }
            }
            span {
                position: absolute;
                top: 0;
                right: 0;
                width: 2rem;
                height: 1.5rem;
                background-color: $gray-light;
                color: $white;
                opacity: .7;
            }
            label {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1.5rem;
                color: black;
                background-color: $white;
                opacity: .7;
            }
        }
    }
    .user-visitors {
        @include flex-1();
    }
    // 资料设置
    .ui-user-info-set {
        padding: 1rem 0;
        background-color: $white;
        opacity: .8;
        border-radius: .3rem;
        li {
            padding: .2rem 4rem ;
            text-align: left;
            @extend %clearfix;
            label {
                line-height: 2rem;
            }
            // input组件样式覆盖
            /deep/ .wd-input-wrap{
                float: right;
                input,textarea {
                    width:20rem;
                }
                textarea {
                    height:5rem;
                }
            }
            // 性别选择select组件样式覆盖,日历组件样式覆盖
            /deep/ .wd-select-component,
            /deep/ .wd-calendar-component{
                float: right;
                input {
                    width: 20rem;
                }
            }
        }
        // 上传头像
        .ui-upload {
            line-height: 5rem;
            /deep/ .wd-upload-file{
                height:5rem;
                width:5rem;
            }
        }
        // 上传组件
        .ui-upload-component{
            float: right;
        }
        // 图片和icon容器
        .ui-img-box{
            position: relative;
            height:5rem;
            width:5rem;
            line-height: 5rem;
            border-radius: .5rem;
            text-align: center;
            border: 2PX solid $gray;
            box-sizing: content-box;
            img{
                display: inline-block;
                position: absolute;
                left:0;
                top:0;
                z-index:2;
                width:5rem;
                height:5rem;
                border-radius: .5rem;
            }
            i{
                position: relative;
                z-index:1;
                line-height: 5rem;
                font-size: $font-size-huge;
            }
        }
    }
}

// 主题相关
@each $theme in $themes {
    $colors: map-get($theme-colors,
    #{$theme}); // 颜色map
    $main: map-get($colors, main); // 主题主色
    $main-deep: map-get($colors, main-deep); // 深主题主色
    $warm-title: map-get($colors, warm-title); // 醒目标题色
    $btn: map-get($colors, btn); // 按钮类颜色
    .#{$theme} {
        #id-user {
            .user-action-nav {
                .active {
                    border-bottom: 3px solid $main;
                }
            }
            .item-mask+ul a:hover {
                padding: 0;
                border: .1rem solid $red-warm;
                label {
                    bottom: -.1rem;
                }
                span {
                    top: -.1rem;
                    right: -.1rem;
                }
            }
            // 动态列表用户姓名
            .ui-top-info {
                p:first-child {
                    color: $main-deep;
                }
            }
            // 查看全文
            .ui-dynamic-detail button {
                color: $main;
            }
            // 上传
            .ui-img-box{
                border-color:$main;
                i {
                    color:$main;
                }
            }
        }
    }
}