#id-ui-learn {
    // banner渐变背景图
    .ui-banner {
        position: relative;
        height: 20rem;
        margin: 0;
        padding: 0;
        animation: bg-color 20s infinite;
        overflow: hidden;

        // 大标题
        h1 {
            margin-top: 5rem;
            text-align: center;
            color: $white;
            font-weight: bold;
            font-size: $font-size-huge;
        }

        // 知行解释
        P {
            width: 24rem;
            margin: 3rem auto;
            text-align: center;
            color: $white;
            font-weight: bold;
        }
    }

    // banner遮罩，用边框将banner底部盖住
    .ui-banner-mask {
        position: absolute;
        bottom: -10rem;
        left: 50%;
        width: 300%;
        height: 500%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        border: 10rem solid $white;
        border-radius: 50%;

    }

    // tab标签 视频和文档
    .ui-tab {
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        box-shadow: 0 1PX 4PX 0 $gray-light;
    }

    // 文档和视频链接公用样式
    .ui-tab-doc,
    .ui-tab-vid {
        float: left;
        display: block;
        width: 30rem;
        font-size: $font-size-middle;
        letter-spacing:1rem;
        background-color: $white;

        &:hover {
            font-weight: bold;
        }
    }

    //  连接聚焦
    .nuxt-link-active {
        font-weight: bold;
    }
}


// 主题相关
@each $theme in $themes {
    $colors: map-get($theme-colors, #{$theme}); // 颜色map
    $main-light-s: map-get($colors, main-light-s); // 超浅主色
    $main-light: map-get($colors, main-light); // 浅主色
    $main-deep: map-get($colors, main-deep); // 深主色
    $main: map-get($colors, main); // 主色
    $tip: map-get($colors, tip); // 提示色
    $text: map-get($colors, text); // 字体颜色
    $title: map-get($colors, title); // 标题颜色
    $warm-title: map-get($colors, warm-title); // 醒目标题
    $nav: map-get($colors, nav); // 导航字体颜色
    $btn: map-get($colors, btn); // 按钮类颜色
    $hover: map-get($colors, hover); // 悬浮类颜色
    $active: map-get($colors, active); // 激活类颜色
    $bg: map-get($colors, bg); // 页面背景色
    $bc: map-get($colors, bc); // 输入类边框色
    $vip: map-get($colors, vip); // vip标识色
    $reverse: map-get($colors, reverse); // 反衬色
    $help: map-get($colors, help); // 辅助色
    $common: map-get($colors, common); // 通用色
    $warn: map-get($colors, warn); // 警示色

    .#{$theme} {
        #id-ui-learn {
            // 文档链接
            .ui-tab-doc {
                border-right: 1PX solid $main-light-s;
                border-bottom: 1PX solid $main-light-s;
            }

            // 视频链接
            .ui-tab-vid {
                border-bottom: 1PX solid $main-light-s;
            }
            // 文档，视频链接
            .ui-tab-doc,
            .ui-tab-vid {
                color: $main;

                &:hover {
                    color: $main-deep;
                }
            }

            // 链接聚焦
            .nuxt-link-active {
                color: $main-deep;
                border-bottom: 2PX solid $main-deep;
            }
        }
    }
}