@charset "utf-8";
#id-app-header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 3rem;
    background-color: $white;
    .wd-header-bar {
        min-width: 55rem;
        padding: 0 2rem;
        text-align: center;
        box-shadow: 0 1PX 2PX 0 $gray-light;
        overflow-x: auto;
        overflow-y: hidden;
    }
    // 站名
    .wd-site-name {
        float: left;
        width: 5rem;
        float: left;
        h2 {
            line-height: 3rem;
            cursor: pointer;
        }
    }
    // 根导航条
    .wd-app-root-nav {
        float: left;
        position: relative;
        height: 3rem;
        z-index: 2;
    }
    .wd-app-root-nav ul {
        margin: 0 1rem;
        text-align: center;
        @extend %clearfix;
    }
    .wd-app-root-nav li {
        float: left;
        line-height: 3rem;
        margin-right: .2rem;
    }
    // 导航链接
    .wd-app-root-nav a {
        display: inline-block;
        height: 2rem;
        margin-top: .5rem;
        padding: 0rem .6rem;
        line-height: 2rem;
        font-size: $font-size-normal;
        border-radius: .3rem;
        transition: background-color .1s;
    }
    // 搜索组件样式
    .wd-ui-search-component {
        float: left;
        width: 13rem;
    }
    // 用户信息
    .wd-user-info {
        float: right;
        margin-right: 1rem;
        line-height: 3rem;
    }
    // 用户详情
    .ui-user-detail {
        display: inline-block;
        position: relative;
    }
    // 用户头像
    .wd-user-info img {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-bottom: .4rem;
        // margin-right: 1rem;
        line-height: 3rem;
        border-radius: 50%;
        cursor: pointer;
    }
    // 头像右侧链接
    .wd-user-info a {
        display: inline-block;
        margin: 0rem .5rem;
    }
    // 工具列表
    .ui-tool-list {
        position: fixed;
        top:50%;
        right: 1rem;
        text-align: center;
        font-size: $font-size-normal;
        transform: translateY(-50%);
        a {
            height: 1.5rem;
            width: 1.5rem;
            text-align: center;
            display: block;
            background-color: $white;
            box-shadow: 0 0 2PX 1PX $gray-light;
            border-radius: 100%;
            &.active{
                color:$white !important;
            }
        }
    }
    // 主题设置
    .ui-page-set {
        position: fixed;
        bottom: 0;
        color:$white;
        width: 100%;
        transition: height .5s;
        &.show{
            height:6rem;
        }
        &.hide{
            height:0;
        }
        .ui-mask{
           position: absolute;
           z-index:1;
           top:0;
           bottom:0;
           width:100%;
           background-color: black;
           opacity: .5;
        }
        .ui-close {
            position: absolute;
            z-index:3;
            right:.5rem;
            color:$white;
            cursor: pointer;
            .icomoon {
                font-size: $font-size-big;
            }
        }
        // 变换头部底部背景色
        .ui-bg{
            position: relative;
            z-index:2;
            line-height: 2rem;
            & > span, & > div {
                margin:0 1rem;
                vertical-align: middle;
            }
            // 变换头部底部背景色的开关
            .ui-switch /deep/ {
                .open{
                    background-color: #202223 !important;
                }
            }
        }
        // 变换主题
        .ui-theme{
            position: relative;
            z-index:2;
            .ui-r{
                margin-left:1rem;
                background-color: $red-warm;
                border:2PX solid  $red-warm;
            }
            .ui-b{
                background-color: $blue-sky;
                border:2PX solid  $blue-sky;
            }
            .ui-p{
                background-color: $purple-light;
                border:2PX solid  $purple-light;
            }
            .ui-g{
                background-color: $green-middle;
                border:2PX solid  $green-middle;
            }
            li{
                float: left;
            }
            a{
                display: block;
                margin: .5rem;
                height:3rem;
                width: 3rem;
                color:$white;
                border-radius: .4rem;
                font-size: $font-size-min;
                text-align: center;
                &.active{
                    border:2PX solid $white;
                }
            }
        }
    }
    // 头部暗黑
    &.dark{
        background-color: #202223;
        .wd-header-bar {
            .wd-site-name,
            .wd-app-root-nav a {
                color: $white;
            }
            .wd-user-info a {
                color:$white
            }
        }
    }
}

// 主题相关
@each $theme in $themes {
    $colors: map-get($theme-colors, #{$theme}); // 颜色map
    $main: map-get($colors, main); // 主色
    $main-deep: map-get($colors, main-deep); // 主色
    $main-light: map-get($colors, main-light); // 主色
    $tip: map-get($colors, tip); // 提示色
    $text: map-get($colors, text); // 字体颜色
    $title: map-get($colors, title); // 标题颜色
    $warm-title: map-get($colors, warm-title); // 醒目标题
    $nav: map-get($colors, nav); // 导航字体颜色
    $btn: map-get($colors, btn); // 按钮类颜色
    $hover: map-get($colors, hover); // 悬浮类颜色
    $active: map-get($colors, active); // 激活类颜色
    $bg: map-get($colors, bg); // 页面背景色
    $bc: map-get($colors, bc); // 输入类边框色
    $vip: map-get($colors, vip); // vip标识色
    $help: map-get($colors, help); // 辅助色
    $common: map-get($colors, common); // 通用色
    $warn: map-get($colors, warn); // 警示色
    .#{$theme} {
        #id-app-header {
            // 站名
            .wd-site-name {
                color: $main-deep;
            }
            // 导航链接 - 鼠标悬浮和路由选中样式
            .wd-app-root-nav a {
                color: $main;
                &:hover {
                    color: $main-deep;
                }
            }
            a.nuxt-link-active {
                color: $main-deep !important;
                @include link-active($main-deep, false)
            }
            // 用户信息
            .wd-user-info a {
                color: $main;
            }
            // 工具列表
            .ui-tool-list {
                a.active{
                    background-color: $main;
                }
                a{
                    color: $main;
                }
            }
        }
    }
}