.wd-upload {
    display: inline-block;
    .wd-upload-file {
        position: absolute;
        input[type=file] {
            position: absolute;
            z-index:100;
            left:0;
            top:0;
            width:100%;
            height:100%;
            opacity: 0;
            cursor: pointer;
        }
    }
}