// 收集布局的前台全局样式
@import "./app/app-header/index";
@import "./app/app-body/index";
@import "./app/app-footer/index";
// app,sys
#id-app,
#id-sys {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#id-sys {
    @extend %clearfix;
}