/*
 * Project: nuxt-ssr
 * FileName: _side-menu.scss
 * Author: zzp-dog
 * File Created: Saturday, 22nd February 2020 8:16:02 pm
 * description:
 * Last Modified: Friday, 10th April 2020 4:24:09 pm
 * Modified By: zzp-dog
 * Copyright © zzp-dog, All rights reserved.
 */

// 菜单层级
$side-menu-level: 3;
.fr {
    float: right;
}

.fl {
    float: left;
}

// 菜单层级 1级到$side-menu-level + 1级
@for $i from 1 to ($side-menu-level + 1) {
    // 菜单项
    .wd-side-menu-level#{$i} {
        overflow: hidden;
        a {
            display: inline-block;
            width: 100%;
            padding-left: 1.5rem + $i*.4;
            line-height: 2.5rem;
            font-size: $font-size-small;
            color: $black-light;
            @if $i==1 {
                // 顶级列表背景白色
                background-color: $white;
            }
            @else {
                // 子孙级列表背景灰色
                background-color: $gray-light-s !important;
            }
            // icon
            i {
                font-size: $font-size-small;
                font-weight: bold;
                line-height: 2.5rem;
                margin-right: 1rem;
            }
        }
    }
}

// 高度渐变动画
.wd-side-menu-height-transition {
    transition: height .2s;
}

// 主题相关
@each $theme in $themes {
    // @debug $theme; 
    $colors: map-get($theme-colors, #{$theme});
    $main: map-get($colors, main);
    .#{$theme} {
        .wd-active {
            color: $main;
            border-left: 1PX solid $main;
            border-right: 1PX solid $main;
        }
        a:hover {
            color: $main;
        }
    }
}