#id-ui-learn {
    // banner渐变背景图
    .ui-banner {
        position: relative;
        height: 20rem;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        // background-attachment: fixed;
        background-size: cover;
        animation: bg-color 20s infinite;
    }
    // banner遮罩
    .ui-banner-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: .05;
    }
    .ui-banner-desc {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        // 大标题
        /deep/ h1 {
            margin-top: 5rem;
            text-align: center;
            color: $white;
            font-weight: bold;
            font-size: $font-size-huge;
        }
        // 知行解释
        /deep/ P {
            width: 24rem;
            margin: 3rem auto;
            text-align: center;
            color: $white;
            font-weight: bold;
            line-height: 2.5;
        }
    }
    .ui-learn-doc {
        // 文档体
        .ui-doc {
            padding: 3rem;
            background-color: $white;
            // 总分类列表
            .ui-classes {
                width: 40rem;
                margin: 0 auto;
                border-radius: 3rem;
                border: 1PX solid $gray-light-m;
                @extend %clearfix;
            }
            // 文档分类
            .ui-class {
                line-height: 4rem;
                margin: 0 4rem;
                vertical-align: middle;
                border-bottom: 1PX solid $gray-light-m;
                // 最后一个li没有下外边距
                &:last-child {
                    border-bottom: none;
                }
                @extend %clearfix;
            }
            // 分类名称 
            .ui-class-title {
                font-weight: bold;
                text-align: center;
                font-size: $font-size-normal;
            }
            // 分类列表
            .ui-items {
                padding-bottom: 1rem;
                text-align: center;
                font-size: $font-size-small;
                line-height: 2rem;
            }
            // 分类item
            .ui-item {
                margin: .5rem 2rem;
                display: inline-block;
                a {
                    color: $gray;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// 主题相关
@each $theme in $themes {
    $colors: map-get($theme-colors, #{$theme}); // 颜色map
    $main-light-s: map-get($colors, main-light-s); // 超浅主色
    $main-light: map-get($colors, main-light); // 浅主色
    $main-deep: map-get($colors, main-deep); // 深主色
    $main: map-get($colors, main); // 主色
    $tip: map-get($colors, tip); // 提示色
    $text: map-get($colors, text); // 字体颜色
    $title: map-get($colors, title); // 标题颜色
    $warm-title: map-get($colors, warm-title); // 醒目标题
    $nav: map-get($colors, nav); // 导航字体颜色
    $btn: map-get($colors, btn); // 按钮类颜色
    $hover: map-get($colors, hover); // 悬浮类颜色
    $active: map-get($colors, active); // 激活类颜色
    $bg: map-get($colors, bg); // 页面背景色
    $bc: map-get($colors, bc); // 输入类边框色
    $vip: map-get($colors, vip); // vip标识色
    $help: map-get($colors, help); // 辅助色
    $common: map-get($colors, common); // 通用色
    $warn: map-get($colors, warn); // 警示色
    .#{$theme} {
        #id-ui-learn {
            .ui-banner-mask {
                background-color: $main;
            }
            .ui-banner-desc {
                text-shadow: 3PX 3PX 3PX $main-deep;
            }
            .ui-learn-doc {
                .ui-class-title {
                    color: $main-deep;
                }
                .ui-item a {
                    &:hover {
                        color: $main;
                    }
                }
            }
        }
    }
}