// 常量
@charset "utf-8";
//////////////////黑白灰/////////////////////
// 白色
$white: white;
// 浅白色
$white-light: rgb(250, 250, 250);
// 通用色
$common: #333333;
// 浅黑色
$black-light: rgb(58, 52, 52);
// 灰色
$gray: gray;
// 灰色rgba
$gray-50: rgba(128, 128, 128, .5);
// 浅灰色
$gray-light: rgb(200, 200, 200);
// 中浅灰色
$gray-light-m: rgb(230, 230, 230);
// 浅灰色rgba
$gray-light-50: rgba(200, 200, 200, .5);
// 超浅灰色
$gray-light-s: rgb(244, 244, 244);
//////////////////蓝色/////////////////////
// 深蓝色
$blue-deep: #211fb8;
// 浅蓝色
$blue-light: #3b86cc;
// 天空蓝
$blue-sky: #00aeef;
///////////////////紫色////////////////////
// 深紫色
$purple-deep:#00c;
// 中紫色
$purple-middle: #5a06f5;
// 浅紫色
$purple-light: #7c07c0;
///////////////////红色////////////////////
// 深红色
$red-deep: #ee1d24;
// 中红色
$red-middle: #fa6464;
// 暖红色
$red-warm: #ef6ea8;
///////////////////绿色////////////////////
// 深绿色
$green-deep: rgb(25, 165, 25);
// 中绿色
$green-middle: #0ebd0e;
// 浅绿色
$green-light: rgb(109, 238, 29);
//////////////////橙色/////////////////////
// 深橙色
$yellow-deep: #ff7b00;
// 中橙色
$yellow-middle: #ffa500;
// 浅橙色
$yellow-light: rgb(253, 188, 8);
///////////////////////////////////////
// 字体大小
$font-size-min: .75rem;
$font-size-small: .875rem;
$font-size-normal:1rem;
$font-size-middle:1.2rem;
$font-size-large:1.5rem;
$font-size-big:2rem;
$font-size-huge:2.5rem;
$font-size-super:4rem;
// 尺寸
// id-app,id-sys
$app-width: 60rem;
// id-app-body
$main-width:56rem;
$wd-main-middle: 0;
$wd-main-left: 44rem;
$wd-main-right: 12rem;
// id-app-header,id-app-footer
$app-footer-height:7rem;
$app-header-height:3rem;
$sys-header-height:3rem;
// 其他
$global-padding: 1rem;
$global-margin: 1rem;
$global-gap: .5rem;
// 字体样式
$font-family-y: YouYuan Microsoft Yahei,
Hiragino Sans GB,
Heiti SC,
WenQuanYi Micro Hei,
sans-serif;
$font-family-h: Helvetica Neue,
Helvetica,
Arial,
Microsoft Yahei,
Hiragino Sans GB,
Heiti SC,
WenQuanYi Micro Hei,
sans-serif;
$font-family-m: Microsoft Yahei,
Hiragino Sans GB,
Heiti SC,
WenQuanYi Micro Hei,
sans-serif;
$font-family-c: Consolas,
Monaco,
'Andale Mono',
'Ubuntu Mono',
'Microsoft Yahei',
monospace;