// label
.wd-radio {
    user-select: none;
    // checkbox
    .input-radio {
        display: none;
    }
    // icon
    .icomoon {
        font-size: 1rem;
        line-height: 1;
        vertical-align: middle;
    }
    // span，描述
    span{
        line-height: 1;
        vertical-align: middle;
    }
    // 禁用
    .wd-radio-dsiabled{
        opacity: .8;
        cursor: not-allowed;
    }
}

// 主题相关
@each $theme in $themes {
    // @debug $theme; 
    $colors: map-get($theme-colors, #{$theme});
    $main-deep: map-get($colors, main-deep);

    .#{$theme} {
        .wd-radio {
            // checkbox选中后颜色
            .icon-check-circle-thin {
                color: $main-deep;
            }
        }
    }
}