.wd-no-result {
    position: relative;
    min-height: 15rem;
    width: 100%;
    p {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $gray;
        line-height: 1.5;
        font-size: $font-size-small;
        .icon-coffee {
            font-weight: lighter;
            font-size: $font-size-large;
        }
    }
}